{% extends "layout.html" %}
<link rel="stylesheet" href="/static/styles.css">
{% block title %}Articles{% endblock %}

{% block content %}
<div class="blog-header">
    <h1 class="blog-title">Blog</h1>
</div>

<div class="container text-center blog-content">
    <img class= "image-container "src="/static/good.jpg" style="background-position: center; height: 300px; width: 30%;">
    <p style="font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; font-size: 24px; font-weight: bold; color: #5e22b3;">Bien-être</p>

    <div class="article">
        <h2>LORIA SALVATORE - 15 mai 2023 </h2>
        <h3>7 Etapes pour devenir son héros</h3>
        <p>Si nous imaginions ensemble votre héros ? Qui voyez-vous dans votre esprit ? N’est-ce pas vous-même ? Mais quelle est la différence ? Ne représente-t-il pas celui qui réussit là où nous échouons ? Mais en quoi est-ce que nous échouons et en quoi est-ce que nous réussi</p>
        <a href="#" class="toggle-content">READ MORE</a>
        <p class="hidden-text" style="display: none;">À notre époque, savoir qui nous sommes se froisse à l’illusion du virtuel, la perte des repères du couple, le rêve du matérialisme et les espoirs souvent déchus. Ainsi, le sentiment d’impossible est souvent de mise avec cette question. Pourtant, des moyens simples existent pour dépasser cette impasse dont la meilleure des issues ferait de nous un être unique et exceptionnel que nous pouvons tous devenir.

            Le livre “7 étapes pour devenir son héros” développe une ingénierie pour nous aider à devenir cette personne qui nous sauve, cette personne que chacun de nous connait, cette voix puissante qui dénonce notre être. Peut-être est-il temps d’arpenter cette voie que nous laissons depuis trop longtemps de côté, pour parcourir ensemble le chemin qui nous y mène.
            
            N’hésitez pas à vous aller dans l’espace “livre” de ce site où vous pourrez vous procurer un exemplaire disponible.</p>
    </div>

    <div class="article">
        <h2>Matthieu Boisgontier et Boris Cheval — 2 mai 2023</h2>
        <h3>Le sport est-il vraiment bon pour le cerveau?</h3>
        <p> Deux études récemment parues se contredisent concernant les bénéfices cognitifs de l'activité physique.Les effets positifs de l'activité physique sur la santé sont indéniables. Cependant, une étude récente remet en cause le célèbre adage «Mens sana in corpore sano», ou «un esprit sain dans un corps sain». Les auteurs y contestent l'importance de l'exercice physique pour la santé de notre cerveau et de notre cognition.</p>
        <a href="#" class="toggle-content">READ MORE</a>
        <p class="hidden-text" style="display: none;">La première étude a été publiée dans la revue Nature Human Behavior le 27 mars 2023. Il s'agit d'une revue de vingt-quatre méta-analyses qui réexamine les données de 11.266 personnes en bonne santé, en utilisant une approche plus rigoureuse que les analyses antérieures. Bien que la quasi totalité des vingt-quatre méta-analyses incluses dans cette étude ait démontré un effet positif de l'exercice physique régulier sur les fonctions cognitives, les auteurs soutiennent qu'elles manquaient d'ajustements.
            Ils soulignent par exemple que le niveau d'activité physique en début d'intervention, ainsi que la tendance de la communauté scientifique à ne publier que les résultats significatifs, étaient rarement pris en compte. Et, une fois ces ajustements effectués, ils aboutissent à des résultats suggérant que les bénéfices de l'exercice physique sont en réalité plus faibles que ceux estimés dans les précédentes méta-analyses, voire négligeables.
            La seconde étude, la nôtre, une enquête génétique incluant près de 350.000 personnes, a été publiée dans Nature quatre jours plus tard, soit le 31 mars. Nous y apportons des preuves scientifiques des bénéfices cognitifs de l'activité physique d'intensité modérée et élevée, basées sur la méthode de randomisation mendélienne à deux échantillons, qui exploite les variations aléatoires de notre ADN survenant lors de la conception, donc avant la naissance.

            Lorsqu'on compare deux humains, 99,9% de leur matériel génétique est identique. On peut considérer l'ADN comme une longue chaîne de briques, appelées «nucléotides». Il y a quatre types de briques, agencées de manière aléatoire: la thymine, l'adénine, la guanine et la cytosine. Entre ces deux humains, une fois sur 1.000 briques environ, l'une d'entre elles varie. Ces variations génétiques, appelées «SNP» (que l'on prononce «snips»), peuvent par exemple donner une brique de cytosine à un certain endroit de l'ADN d'une personne et une brique de thymine au même endroit chez une autre. </p>
    </div>
    <div class="article">
        <h2> Clémentine Amblard — 16 février 2023</h2>
        <h3>Une simple conversation par jour peut faire baisser le stress</h3>
        <p> L'appel à un ami ne devrait pas être que le joker d'un jeu télévisé.Faire baisser son niveau de stress et augmenter celui de son bonheur peut être une équation compliquée à résoudre. Et pourtant, un facteur peut y contribuer: une simple conversation par jour suffit. C'est ce que démontre une étude publiée dans Communication Research en janvier 2023, et menée par six universitaires. Le Pr Jeffrey A. Hall, coauteur de ces travaux, déclare à Vice: «Alors que d'autres études sur le bien-être se concentrent sur les pensées reconnaissantes ou le fait de tenir un journal, nous avons choisi de travailler sur comment notre manière d'interagir peut améliorer le bien-être.»</p>
        <a href="#" class="toggle-content">READ MORE</a>
        <p class="hidden-text" style="display: none;">Entre avril 2019 et novembre 2021, les chercheurs ont interrogé 900 participants en distinguant sept types d'interactions menant à une conversation: revoir un ami après un certain temps, plaisanter, avoir un échange constructif, manifester de l'intérêt, faire preuve d'attention, complimenter quelqu'un et enfin, valoriser l'autre et ses opinions.

            Chaque participant devait donc engager un échange au cours de sa journée, puis le soir, l'évaluer en mesurant son stress, son bien-être, son anxiété, sa solitude et surtout, la qualité perçue des échanges. </p>
    </div>
</div>

<script>
    // Fonction pour afficher ou masquer le contenu complet de l'article
    function toggleContent(event) {
        event.preventDefault();
        var hiddenText = this.parentNode.querySelector('.hidden-text');
        hiddenText.style.display = (hiddenText.style.display === 'none') ? 'block' : 'none';
        this.textContent = (hiddenText.style.display === 'none') ? 'READ MORE' : 'Réduire';
    }

    // Ajouter un gestionnaire d'événement aux liens "READ MORE"
    var toggleLinks = document.getElementsByClassName('toggle-content');
    for (var i = 0; i < toggleLinks.length; i++) {
        toggleLinks[i].addEventListener('click', toggleContent);
    }
    
</script>

{% endblock %}
