{% extends 'layout.html' %}

{% block title %}Modifier commentaire{% endblock %}

{% block content %}
<div class="container mt-4">
    
    <h1 class="intro">Modifier le commentaire</h1>

    <li class="write-new">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Votre commentaire</h5>
                    <form action="{{ url_for('change_comment', comment_id=comment.id)}}" method="post">

                        <div class="form-outline mb-4">
                            <label class="form-label" for="comment">Modifiez le contenu de votre commentaire</label>
                            <textarea placeholder="Edit comment" id="comment" name="comment">{{ comment.contenu }}</textarea>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary btn-block">Modifier</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </li>


<div>

{% endblock %}