{% extends "layout.html" %}

{% block title %}Forum{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Forum</h1>

    <div class="container">
        <form action="{{ url_for('add_thread')}}" method="get">
            <button class="btn btn-primary" type="submit">Ajouter un nouveau thread</button>
        </form>
    </div>

    <div class="row">
        <div class="col-md-8">
            {% for thread in threads %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ thread.topic }}</h5>
                    <p class="card-text">{{ thread.description }}</p>
                    <p class="card-text">Author: {{ thread.author }}</p>
                    <a href="{{ url_for('thread', thread_id=thread.id) }}" class="btn btn-primary">View Thread</a>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
</div>
{% endblock %}
