{% extends "layout.html" %}

{% block title %}Forum{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Forum</h1>

    <div class="container pt-3 pb-4">
        <form action="{{ url_for('add_thread')}}" method="get">
            <button class="btn btn-primary btn-md" type="submit">Ajouter un nouveau thread</button>
        </form>
    </div>

    <div class="row">
        <div class="col-md-8">
            {% for thread in all_threads %}
            <div class="card border-dark mb-3">
                <div class="card-body text-dark">
                    <h5 class="card-title" id="thread-title">{{ thread.titre }}</h5>
                    <p class="card-text" id="thread-description">{{ thread.description }}</p>
                    {% if thread.anonyme %}
                    <p class="card-text" id="thread-author-anonyme">Auteur: Anonyme</p>
                    {% else %}
                    <p class="card-text" id="thread-author">Auteur: {{ name }}</p>
                    {% endif %}
                    <p class="card-text" id="thread-date">{{ thread.date_pub }}</p>
                    <a href="{{ url_for('thread', thread_id=thread.id) }}" class="btn btn-outline-primary btn-sm">Afficher le thread</a>
                    {% if 'name' in session %}
                    <a href="{{url_for('delete_thread', thread_id=thread.id)}}" class="btn btn-danger btn-sm">Effacer le thread</a>
                    <a href="{{url_for('edit_thread', thread_id=thread.id)}}" class="btn btn-info btn-sm">Modifier</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
</div>
{% endblock %}
