{% extends 'layout.html' %}

{% block title %}Nouveau thread{% endblock %}

{% block content %}

<h1 class="intro">Créer un nouveau thread</h1>

<li class="write-new">

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">New Thread</h5>

                <form action="{{ url_for('new_thread')}}" method="post">
                    <div class="mb-3">
                        <label for="topic" class="form-label">Topic</label>
                        <input type="text" class="form-control" id="topic" name="topic" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description" required></textarea>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="anonyme" name="anonyme">
                        <label class="form-check-label" for="anonyme">Poster en anonyme ? Cocher pour oui</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Create Thread</button>
                </form>

            </div>
        </div>
    </div>
    
</li>

{% endblock %}