{% extends 'layout.html' %}

{% block title %}
    Prise de rendez-vous
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Prise de rendez-vous</h1>
        
        <form action="/booking/create" method="POST">
            <div class="mb-3">
                <label for="user" class="form-label">Utilisateur</label>
                <select class="form-select" id="user" name="user" required>
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="therapist" class="form-label">Thérapeute</label>
                <select class="form-select" id="therapist" name="therapist" required>
                    {% for therapist in therapists %}
                        <option value="{{ therapist.id }}">{{ therapist.name }}</option>
                    {% endfor %}
                </select>
            </div>
            
    
            <div class="mb-3">
                <label for="date" class="form-label">Date du rendez-vous</label>
                <input type="date" class="form-control" id="date" name="date" required>
            </div>
            <div class="mb-3">
                <label for="time" class="form-label">Heure du rendez-vous</label>
                <input type="time" class="form-control" id="time" name="time" required>
            </div>
            <button type="submit" class="btn btn-primary">Prendre rendez-vous</button>
        </form>
    </div>
{% endblock %}
