{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <h1>Les points importants</h1>
        
        <p>Tout le monde ne se sent pas à l'aise de parler de ses problèmes de santé mentale. Mais c'est important. Une conversation aide souvent à comprendre où se situent les problèmes psychologiques. Et cela aide à obtenir de l'aide ou un traitement si nécessaire.</p>

        <h2>États d'anxiété</h2>

        <p>L’anxiété peut être déclenchée par de nombreux facteurs, tels que : B. le premier jour d'école, un entretien d'embauche, un grand événement ou un premier rendez-vous. L'anxiété peut provoquer une tachycardie et des mains moites. Beaucoup souffrent d'anxiété. Voici quelques conseils sur la façon de gérer l'anxiété.
            <a href="https://dx35vtwkllhj9.cloudfront.net/netflix/evergreen-resource-site/issues/mental-health/FR_MentalHealth_HowToDealWithAnxiety.pdf" class="btn btn-primary float-right" target="_blank">EN SAVOIR PLUS</a>
        </p>
        
    </br>

        <h2>Dépressions</h2>

        <p>La dépression est un sentiment d'indifférence paralysante qui devient si grave que l'on est incapable de fonctionner dans la vie. La dépression peut transformer le fait de se lever le matin en un exploit presque insurmontable. La bonne nouvelle est que vous n'êtes pas obligé de faire cet exploit seul. Obtenez de l'aide pour rendre votre vie à nouveau supportable. Voici quelques offres pour la dépression.
            <a class="btn btn-primary float-right" href="https://dx35vtwkllhj9.cloudfront.net/netflix/evergreen-resource-site/issues/mental-health/FR_MentalHealth_HowToDealWithDepression.pdf" target="_blank">EN SAVOIR PLUS</a>
        </p>

    </br>

        <h2>Solitude</h2>

        <p>Il n'est pas rare de se sentir seul à l'occasion. Peut-être que vous avez changé d'école, vous êtes éloigné de vos amis. Ou peut-être n'avez-vous pas encore trouvé votre cercle d'amis. Vous traversez peut-être un changement majeur dans votre vie, ou vous pouvez vous sentir laissé pour compte alors que d'autres s'épanouissent. Ou vous vous sentez seul même si vous êtes entouré de gens. Tu n'es pas seul. Voici quelques conseils pour faire face à la solitude.
            <a class="btn btn-primary float-right" href="https://dx35vtwkllhj9.cloudfront.net/netflix/evergreen-resource-site/issues/mental-health/FR_MentalHealth_HowToDealWithLoneliness.pdf"target="_blank">EN SAVOIR PLUS</a>
        </p>

    </div>

    <style>
        .container {
            max-width: 800px;
            margin: 50 auto;
            padding: 20px;
        }

        h1 {
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 24px;
            font-weight: bold;
            margin-top: 30px;
            margin-bottom: 10px;
        }

        p {
            text-align: center;
            margin-bottom: 10px;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
{% endblock %}
