{% extends 'layout.html' %}

{% block title %}
    Création de votre compte professionnel
{% endblock %}

{% block content %}
    <div class="mt-3">
    <h1 style="text-align:center">Inscription PRO </h1>
    </div>
    <div class="container">

        
        <form action="/create-account-pro" method="POST" enctype="multipart/form-data" onsubmit="return validatePassword()">

            <div class="form-outline mb-4">
                <label class="form-label" for="name">Votre nom</label>
                <input type="text" id="name" class="form-control" name="name" placeholder="Entrez votre nom" required/>
                
            </div>

            <div class="form-outline mb-4">
                <label for="email" class="form-label">Email :</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Entrez votre mail" required>
            </div>

            <div class="form-outline mb-4">
                <label for="password" class="form-label">Mot de passe :</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Entrez un mot de passe" required>
                <div id="passwordError" class="text-danger"></div>
            </div>

            <div class="form-outline mb-4">
                <label for="confirm_password" class="form-label">Confirmer le mot de passe</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirmez votre mot de passe" required>
                <div id="confirmPasswordError" class="text-danger"></div>
            </div>

            <div class="mb-4 form-check">
                <input type="checkbox" class="form-check-input" id="accept_terms" name="accept_terms" required>
                <label class="form-check-label" for="accept_terms">J'accepte les règles de confidentialité et les conditions d'utilisation.</label>
            </div>

            <div>
                <h4>Votre profil pro</h4><br>
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="specialite">Vos spécialisations :</label>
                <input type="text" id="specialite" class="form-control" name="specialite" placeholder="Entrez vos spécialisations" required/>
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="description">Ecrivez une courte description de vous pour vos futurs patients</label>
                <textarea class="form-control" id="description" rows="4" name="description" placeholder="Présentez-vous en quelques lignes" required></textarea>
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="max_sessions">Votre nombre maximal de rendez-vous :</label>
                <input type="number" id="max_sessions" class="form-control" name="max_sessions" placeholder="Entrez le nombre maximal de sessions" required/>
           </div>

           <div class="form-outline mb-4">
                <label class="form-label" for="nb_experience">Votre nombre d'années d'expérience :</label>
                <input type="number" id="nb_experience" class="form-control" name="nb_experience" placeholder="Entrez votre nombre d'années d'expérience" required/>
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="formation">Quelle est votre formation ?</label>
                <textarea class="form-control" id="formation" rows="4" name="formation" placeholder="Décrivez votre formation" required></textarea>
            </div>
            
            <div class="form-outline mb-4">
                <label for="photo_profil">Choisissez une image de profil :</label>
                <input type="file" id="photo_profil" class="form-control" name="photo_profil"/>
            </div>


            <button type="submit" class="btn btn-primary">S'inscrire</button>

        </form>

        
    </div>
     <div class="my-4">
            <p class="lead" style="color:white; text-align:center">
                Si vous avez déjà un compte, <a class="" id="login" href="/login"> Connectez-vous ici </a>
            </p>
    </div>
   
    <script>
        function validatePassword() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirm_password").value;
            var passwordError = document.getElementById("passwordError");
            var confirmPasswordError = document.getElementById("confirmPasswordError");
            var isValid = true;
    
            passwordError.textContent = "";
            confirmPasswordError.textContent = "";
    
            // Vérifier si le mot de passe a au moins 8 caractères
            if (password.length < 8) {
                passwordError.textContent = "Le mot de passe doit contenir au moins 8 caractères !";
                isValid = false;
            }
    
            // Vérifier si le mot de passe contient au moins une lettre majuscule, une lettre minuscule et un chiffre
            var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).+$/;
            if (!regex.test(password)) {
                passwordError.textContent = "Le mot de passe doit contenir au moins une lettre majuscule, une lettre minuscule et un chiffre !";
                isValid = false;
            }
    
            // Vérifier si les mots de passe correspondent
            if (password !== confirmPassword) {
                confirmPasswordError.textContent = "Les mots de passe ne correspondent pas !";
                isValid = false;
            }
    
            return isValid;
        }

    </script>

{% endblock %}