{% extends "layout.html" %}

{% block title %}Thread{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="mb-3">
        <a href="{{url_for('forum')}}" class="btn btn-secondary btn-sm">Retour au forum</a>
    </div>
    <h1>Thread</h1>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ thread.titre }}</h5>
            <p class="card-text" id="content-thread">{{ thread.content }}</p>
            {% if thread.anonyme %}
            <p class="card-text" id="anonyme-author-thread">Author: Anonyme </p>
            {% else %}
            <p class="card-text" id="author-thread">Author: {{ thread.id_user }}</p>
            {% endif %}
            <p class="card-text" id="date-thread">Publié le : {{ thread.date_pub }}</p>
        </div>
    </div>

    <h2>Comments</h2>
    
    {% for comment in all_comments %}
    <div class="card mb-3">
        <div class="card-body">
            {% if not comment.anonyme %}
            <h5 class="card-title" id="autor-comment">{{ name }}</h5>
            {% else %}
            <h5 class="card-title" id="anonyme-comment">Anonyme</h5>
            {% endif %}

            <p class="card-text" id="content-comment" >{{ comment.contenu }}</p>
            <p class="card-text" id="date-comment" >{{ comment.date_pub }}</p>
            {% if 'name' in session %}
                <a href="{{url_for('delete_comment', comment_id=comment.id)}}" class="btn btn-danger btn-sm">Effacer le commentaire</a>
                <a href="{{url_for('edit_comment', comment_id=comment.id)}}" class="btn btn-info btn-sm">Modifier</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}


    <div class="mb-3">
        <form action="{{ url_for('add_comment', thread_id = thread.id) }}" method="post">
            <div class="mb-3">
                <label for="comment" class="form-label">Add a Comment</label>
                <textarea class="form-control" id="comment" name="comment" required></textarea>
            </div>
            
            <div class="mb-3">
                <p> Poster en anonyme ? (Votre nom d'utilisateur ne sera pas visible) </p>
                <input type="radio" id="anonymecomment-yes" name="anonyme" value="yes" />
                <label for="anonymecomment-yes">Oui</label>
            
                <input type="radio" id="anonymecomment-no" name="anonyme" value="no" checked/>
                <label for="anonymecomment-no">Non</label>

            </div>
            <button type="submit" class="btn btn-primary">Post Comment</button>
        </form>
    </div>


</div>
{% endblock %}
