{% extends "layout.html" %}

{% block title %}User Profile{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>User Profile</h1>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">User Information</h5>
            <p class="card-text">Name: {{ user.name }}</p>
            <p class="card-text">Email: {{ user.email }}</p>
        </div>
    </div>

    <div class="mb-3">
        <form action="{{ url_for('update_profile') }}" method="post">
            <div class="mb-3">
                <label for="name" class="form-label" for="name">Nom :</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ user.name }}" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label" for="email">Email :</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe :</label>
                <input type="password" class="form-control" id="password" name="password" value="{{ user.password }}" required>
            </div>

            <button type="submit" class="btn btn-primary">Update Profile</button>
        </form>
    </div>

</div>

{% endblock %}
